@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --background: 240 100.0000% 98.0392%;
  --foreground: 240 27.5862% 22.7451%;
  --card: 0 0% 100%;
  --card-foreground: 240 27.5862% 22.7451%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 27.5862% 22.7451%;
  --primary: 251.9008 55.7604% 57.4510%;
  --primary-foreground: 0 0% 100%;
  --secondary: 249.3750 100% 93.7255%;
  --secondary-foreground: 249.3750 33.3333% 37.6471%;
  --muted: 240 50.0000% 96.0784%;
  --muted-foreground: 240 12.1951% 48.2353%;
  --accent: 218.4615 100.0000% 92.3529%;
  --accent-foreground: 240 27.5862% 22.7451%;
  --destructive: 350.1754 100% 66.4706%;
  --destructive-foreground: 0 0% 100%;
  --border: 240 34.7826% 90.9804%;
  --input: 240 34.7826% 90.9804%;
  --ring: 251.9008 55.7604% 57.4510%;
  --chart-1: 251.9008 55.7604% 57.4510%;
  --chart-2: 249.6429 94.9153% 76.8627%;
  --chart-3: 239.1781 82.0225% 65.0980%;
  --chart-4: 243.1579 93.0070% 71.9608%;
  --chart-5: 243.6522 47.3251% 47.6471%;
  --sidebar: 240 50.0000% 96.0784%;
  --sidebar-foreground: 240 27.5862% 22.7451%;
  --sidebar-primary: 251.9008 55.7604% 57.4510%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 218.4615 100.0000% 92.3529%;
  --sidebar-accent-foreground: 240 27.5862% 22.7451%;
  --sidebar-border: 240 34.7826% 90.9804%;
  --sidebar-ring: 251.9008 55.7604% 57.4510%;
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-sm: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow-md: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
  --shadow-lg: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
  --shadow-xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
  --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.30);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: 240 26.8293% 8.0392%;
  --foreground: 240 48.7179% 92.3529%;
  --card: 240 27.7778% 14.1176%;
  --card-foreground: 240 48.7179% 92.3529%;
  --popover: 240 27.7778% 14.1176%;
  --popover-foreground: 240 48.7179% 92.3529%;
  --primary: 251.2500 100% 78.0392%;
  --primary-foreground: 240 26.8293% 8.0392%;
  --secondary: 242.8571 32.8125% 25.0980%;
  --secondary-foreground: 241.9672 100% 88.0392%;
  --muted: 240 33.3333% 20%;
  --muted-foreground: 240 20.2532% 69.0196%;
  --accent: 240 33.3333% 28.2353%;
  --accent-foreground: 240 48.7179% 92.3529%;
  --destructive: 350.1754 100% 66.4706%;
  --destructive-foreground: 0 0% 100%;
  --border: 240 26.1538% 25.4902%;
  --input: 240 26.1538% 25.4902%;
  --ring: 251.2500 100% 78.0392%;
  --chart-1: 251.2500 100% 78.0392%;
  --chart-2: 230.4878 44.0860% 63.5294%;
  --chart-3: 206.7123 89.0244% 67.8431%;
  --chart-4: 174.2857 41.8327% 50.7843%;
  --chart-5: 325.5224 100.0000% 73.7255%;
  --sidebar: 240 27.7778% 14.1176%;
  --sidebar-foreground: 240 48.7179% 92.3529%;
  --sidebar-primary: 251.2500 100% 78.0392%;
  --sidebar-primary-foreground: 240 26.8293% 8.0392%;
  --sidebar-accent: 240 33.3333% 28.2353%;
  --sidebar-accent-foreground: 240 48.7179% 92.3529%;
  --sidebar-border: 240 26.1538% 25.4902%;
  --sidebar-ring: 251.2500 100% 78.0392%;
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-sm: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow-md: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
  --shadow-lg: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
  --shadow-xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
  --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.30);
}

@layer base {
  * {
    @apply border-border scroll-smooth;
  }
  body {
    @apply bg-background text-foreground dark:text-stone-200 scroll-smooth;
  }
  .width-regulator {
    @apply w-full max-w-full md:max-w-4xl xl:max-w-6xl 2xl:max-w-[90rem] mx-auto;
  }
  h1 {
    @apply text-4xl font-extrabold tracking-tight lg:text-5xl;
  }
  h2 {
    @apply mt-6 mb-2 text-2xl font-bold tracking-tight first:mt-0;
  }
  h3 {
    @apply text-2xl font-semibold tracking-tight;
  }
  h4 {
    @apply text-xl font-semibold tracking-tight;
  }
  p {
    @apply leading-7;
  }
  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }
  code {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }
  p.lead {
    @apply text-xl text-muted-foreground;
  }
  .large {
    @apply text-lg font-semibold text-foreground bg-background;
  }
  .small {
    @apply text-sm font-medium leading-none;
  }
  .muted {
    @apply text-sm text-muted-foreground;
  }
}